In [27]:
# Import the dependencies.
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base

# Create a base class for declarating class definitions to produce Table objects
Base = declarative_base()

In [28]:
# Create Database Connection
engine = create_engine('sqlite:///./pa_school_district.db')
Base.metadata.create_all(engine)

In [29]:
# Create a Session Object to Connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [30]:
df_spend = pd.read_excel('2018-2019 Per Pupil Expenditures_db.xlsx')

In [31]:
# df_spend.dtypes

In [32]:
df_spend.to_sql('pupil_exp', con=engine, if_exists='append', index=False)

673

In [33]:
# ASK BCS Help 10/18/23 with kmaphanda

from sqlalchemy import create_engine, Column, Integer, Float, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
# Initialize SQLAlchemy Base and engine
Base = declarative_base()
engine = create_engine('sqlite:///pa_school_district.db')
# Define new table schema with 'subject' as primary key
class NewPAsdData(Base):
    __tablename__ = 'keystone_state'
    subject = Column(String, primary_key=True)
    students = Column(String)
    grade = Column(Integer)
    number_scored = Column(Integer)
    percent_below_basic = Column(Float)
    percent_basic = Column(Float)
    percent_proficient = Column(Float)
    percent_advanced = Column(Float)
    percent_advanced_proficient = Column(Float)
# Drop the old table (optional)
# Base.metadata.tables['keystone_state'].drop(engine, checkfirst=True)
# Create the new table
Base.metadata.create_all(engine)
# Create a new session
Session = sessionmaker(bind=engine)
session = Session()
# Insert existing data into the new table
existing_data = [
    {'subject': 'Algebra I', 'students': 'All Students', 'grade': 11, 'number_scored': 119742, 'percent_below_basic': 10.5, 'percent_basic': 26.2, 'percent_proficient': 38.7, 'percent_advanced': 24.6, 'percent_advanced_proficient': 63.3},
    {'subject': 'Biology', 'students': 'All Students', 'grade': 11, 'number_scored': 118506, 'percent_below_basic': 16.3, 'percent_basic': 20.5, 'percent_proficient': 36.8, 'percent_advanced': 26.4, 'percent_advanced_proficient': 63.2},
    {'subject': 'Literature', 'students': 'All Students', 'grade': 11, 'number_scored': 118885, 'percent_below_basic': 9.6, 'percent_basic': 18.9, 'percent_proficient': 58.4, 'percent_advanced': 13.1, 'percent_advanced_proficient': 71.5}
]
for row in existing_data:
    entry = NewPAsdData(**row)
    session.add(entry)
# Commit the transaction
session.commit()

In [34]:
df_key_school = pd.read_excel('2019 Keystone Exams School Level Data_db.xlsx')

In [35]:
df_key_school.to_sql('keystone_school', con=engine, if_exists='append', index=False)

4486

In [36]:
df_enroll = pd.read_excel('Enrollment Public Schools 2018-19_db.xlsx')

In [37]:
df_enroll.to_sql('enrollment', con=engine, if_exists='append', index=False)

782