In [1]:
import pandas as pd

In [2]:
# Read in the data
# Note: despite the df name, this includes charter schools, but they will not be included as we use AUN to match public schools
# The df name is kept as public_schools_df to avoid rewriting all the existing code below
# (after finding out this sheet does not have 'Ctgy' column)
public_schools_df = pd.read_excel("Resources/2018-2019 Per Pupil Expenditures.xlsx", sheet_name=1)
public_schools_df

,AUN,LEA Name,County,2018-2019 Local Personnel expenditures,2018-2019 Local NonPersonnel expenditures,2018-2019 State Personnel expenditures,2018-2019 State NonPersonnel expenditures,2018-2019 Federal Personnel expenditures,2018-2019 Federal NonPersonnel expenditures,2018-2019\nADM,2018-2019 Local Per Pupil Expenditure,2018-2019 Local NonPer Pupil Expenditure,2018-2019 State Per Pupil Expenditure,2018-2019 State NonPer Pupil Expenditure,2018-2019 Federal Per Pupil Expenditure,2018-2019 Federal NonPer Pupil Expenditure
0,101260303,Albert Gallatin Area SD,Fayette,9019178.90,1875359.59,24385187.40,5070416.69,1652730.61,259155.65,3197.265,2820.90,586.55,7626.89,1585.86,516.92,81.06
1,101260803,Brownsville Area SD,Fayette,2935542.00,480648.00,7677570.00,1257079.00,677433.00,110918.00,1521.309,1929.62,315.94,5046.69,826.31,445.30,72.91
2,101261302,Connellsville Area SD,Fayette,12683500.82,5306622.67,31679118.11,13254095.21,1858869.96,777728.62,3954.586,3207.29,1341.89,8010.73,3351.58,470.05,196.66
3,101262903,Frazier SD,Fayette,4459973.09,1759801.70,7194693.97,2838858.99,235423.80,92892.76,1065.209,4186.95,1652.07,6754.26,2665.07,221.01,87.21
4,101264003,Laurel Highlands SD,Fayette,15197925.00,19714162.00,30380386.00,3830566.49,869577.00,880731.00,2720.162,5587.14,7247.42,11168.59,1408.21,319.68,323.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,188392660,Seven Generations CS,Lehigh,2922628.76,1398036.47,0.00,0.00,172405.59,19573.00,309.594,9440.20,4515.71,0.00,0.00,556.88,63.22
669,189670676,York Academy Regional CS,York,6710046.25,3741339.43,18801.01,158.99,263646.02,418750.52,784.550,8552.73,4768.77,23.96,0.20,336.05,533.75
670,192518422,Tacony Academy CS,Philadelphia,7094.00,5501.00,126.00,98.00,713.00,553.00,384.339,18.46,14.31,0.33,0.25,1.86,1.44
671,197010542,Gettysburg Montessori CS,Adams,1610346.00,1027735.00,0.00,10026.00,30854.00,67076.00,218.794,7360.10,4697.27,0.00,45.82,141.02,306.57
672,199025446,Environmental CS at Frick Park,Allegheny,7660590.00,2328945.00,22970.00,30784.00,331192.00,128486.00,666.182,11499.24,3495.96,34.48,46.21,497.15,192.87

In [3]:
# This code previously selected only the public school districts based on a "Ctgy" column
# But that is not available in the 2018-19 data, so commenting out this code
# public_schools_df = imported_df.loc[imported_df["Ctgy"]==1]
# public_schools_df

In [4]:
# Sum the per pupil expenditures
public_schools_df["Total Per Pupil Expenditure 2018-19"]= \
    public_schools_df["2018-2019 Local Per Pupil Expenditure"] + \
    public_schools_df["2018-2019 Local NonPer Pupil Expenditure"] + \
    public_schools_df["2018-2019 State Per Pupil Expenditure"] + \
    public_schools_df["2018-2019 State NonPer Pupil Expenditure"] + \
    public_schools_df["2018-2019 Federal Per Pupil Expenditure"] + \
    public_schools_df["2018-2019 Federal NonPer Pupil Expenditure"]
public_schools_df

,AUN,LEA Name,County,2018-2019 Local Personnel expenditures,2018-2019 Local NonPersonnel expenditures,2018-2019 State Personnel expenditures,2018-2019 State NonPersonnel expenditures,2018-2019 Federal Personnel expenditures,2018-2019 Federal NonPersonnel expenditures,2018-2019\nADM,2018-2019 Local Per Pupil Expenditure,2018-2019 Local NonPer Pupil Expenditure,2018-2019 State Per Pupil Expenditure,2018-2019 State NonPer Pupil Expenditure,2018-2019 Federal Per Pupil Expenditure,2018-2019 Federal NonPer Pupil Expenditure,Total Per Pupil Expenditure 2018-19
0,101260303,Albert Gallatin Area SD,Fayette,9019178.90,1875359.59,24385187.40,5070416.69,1652730.61,259155.65,3197.265,2820.90,586.55,7626.89,1585.86,516.92,81.06,13218.18
1,101260803,Brownsville Area SD,Fayette,2935542.00,480648.00,7677570.00,1257079.00,677433.00,110918.00,1521.309,1929.62,315.94,5046.69,826.31,445.30,72.91,8636.77
2,101261302,Connellsville Area SD,Fayette,12683500.82,5306622.67,31679118.11,13254095.21,1858869.96,777728.62,3954.586,3207.29,1341.89,8010.73,3351.58,470.05,196.66,16578.20
3,101262903,Frazier SD,Fayette,4459973.09,1759801.70,7194693.97,2838858.99,235423.80,92892.76,1065.209,4186.95,1652.07,6754.26,2665.07,221.01,87.21,15566.57
4,101264003,Laurel Highlands SD,Fayette,15197925.00,19714162.00,30380386.00,3830566.49,869577.00,880731.00,2720.162,5587.14,7247.42,11168.59,1408.21,319.68,323.78,26054.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,188392660,Seven Generations CS,Lehigh,2922628.76,1398036.47,0.00,0.00,172405.59,19573.00,309.594,9440.20,4515.71,0.00,0.00,556.88,63.22,14576.01
669,189670676,York Academy Regional CS,York,6710046.25,3741339.43,18801.01,158.99,263646.02,418750.52,784.550,8552.73,4768.77,23.96,0.20,336.05,533.75,14215.46
670,192518422,Tacony Academy CS,Philadelphia,7094.00,5501.00,126.00,98.00,713.00,553.00,384.339,18.46,14.31,0.33,0.25,1.86,1.44,36.65
671,197010542,Gettysburg Montessori CS,Adams,1610346.00,1027735.00,0.00,10026.00,30854.00,67076.00,218.794,7360.10,4697.27,0.00,45.82,141.02,306.57,12550.78
672,199025446,Environmental CS at Frick Park,Allegheny,7660590.00,2328945.00,22970.00,30784.00,331192.00,128486.00,666.182,11499.24,3495.96,34.48,46.21,497.15,192.87,15765.91

In [14]:
# Deer Lakes SD expenditure data seems to be unreliable (drop it in the next step)
public_schools_df.loc[public_schools_df["LEA Name"] == "Deer Lakes SD"]

,AUN,LEA Name,County,2018-2019 Local Personnel expenditures,2018-2019 Local NonPersonnel expenditures,2018-2019 State Personnel expenditures,2018-2019 State NonPersonnel expenditures,2018-2019 Federal Personnel expenditures,2018-2019 Federal NonPersonnel expenditures,2018-2019\nADM,2018-2019 Local Per Pupil Expenditure,2018-2019 Local NonPer Pupil Expenditure,2018-2019 State Per Pupil Expenditure,2018-2019 State NonPer Pupil Expenditure,2018-2019 Federal Per Pupil Expenditure,2018-2019 Federal NonPer Pupil Expenditure,Total Per Pupil Expenditure 2018-19
36,103022253,Deer Lakes SD,Allegheny,3.332323e+09,4505033.24,10883401.53,3070056.6,680670.3,238845.53,1806.421,1844710.19,2493.9,6024.84,1699.52,376.81,132.22,1855437.48

In [23]:
# Select only the necessary columns
public_schools_df_clean = public_schools_df[["AUN","LEA Name","Total Per Pupil Expenditure 2018-19"]]

# Drop Deer Lakes SD which has unreliable data
public_schools_df_clean = public_schools_df_clean.drop(36)

# Reset index after dropping row
public_schools_df_clean.reset_index(inplace=True)

public_schools_df_clean

,index,AUN,LEA Name,Total Per Pupil Expenditure 2018-19
0,0,101260303,Albert Gallatin Area SD,13218.18
1,1,101260803,Brownsville Area SD,8636.77
2,2,101261302,Connellsville Area SD,16578.20
3,3,101262903,Frazier SD,15566.57
4,4,101264003,Laurel Highlands SD,26054.82
...,...,...,...,...
667,668,188392660,Seven Generations CS,14576.01
668,669,189670676,York Academy Regional CS,14215.46
669,670,192518422,Tacony Academy CS,36.65
670,671,197010542,Gettysburg Montessori CS,12550.78
671,672,199025446,Environmental CS at Frick Park,15765.91

In [24]:
import geojson

# Load boundaries file
with open("Resources/Pennsylvania_School_Districts_Boundaries.geojson") as f:
    gj = geojson.load(f)

features = gj['features']

In [25]:
len(features)

500

In [26]:
gj['features'][0]['properties']['aun_schdis']

'117596003'

In [27]:
# Create nested for loops to match AUNs in dataframe and geojson files
# When a match is found, add the per pupil expenditure from the dataframe to the geojson
i=0
for i in range(len(features)-1):
    aun = features[i]['properties']['aun_schdis']
    
    j=0
    for j in range(len(public_schools_df_clean)-1):
        if str(public_schools_df_clean['AUN'][j]) == aun:
            features[i]['properties']['pupil_expend'] = public_schools_df_clean['Total Per Pupil Expenditure 2018-19'][j]

In [28]:
# Check that the property was added
features[0]['properties']['pupil_expend']

14214.25

In [29]:
# Write JSON file with new data
from geojson import dump
with open('Resources/andrew.geojson', 'w') as f:
  dump(gj, f)