In [1]:
# Import the dependencies.
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import pandas as pd

from sqlalchemy.ext.declarative import declarative_base

# Create a base class for declarating class definitions to produce Table objects
Base = declarative_base()

# Create Tables

In [2]:
# Define schools table schema with 'SchoolNumber' as primary key
class schools (Base):
    __tablename__ = 'pa_schools'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    County = Column(String)
    District = Column(String)
    School = Column(String);

In [3]:
# Define biology table schema with 'SchoolNumber' as primary key
class biology (Base):
    __tablename__ = 'keystone_biology'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    NumberScored = Column(Integer)
    Advanced = Column(Float)
    Proficient = Column(Float)
    Basic = Column(Float)
    BelowBasic = Column(Float)

In [4]:
# Define algebra table schema with 'SchoolNumber' as primary key
class algebra (Base):
    __tablename__ = 'keystone_algebra'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    NumberScored = Column(Integer)
    Advanced = Column(Float)
    Proficient = Column(Float)
    Basic = Column(Float)
    BelowBasic = Column(Float)

In [5]:
# Define literature table schema with 'SchoolNumber' as primary key
class literature (Base):
    __tablename__ = 'keystone_literature'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    NumberScored = Column(Integer)
    Advanced = Column(Float)
    Proficient = Column(Float)
    Basic = Column(Float)
    BelowBasic = Column(Float)

In [6]:
# Define personspend table schema with 'AUN' as primary key
class personspend (Base):
    __tablename__ = 'person_spend'
    AUN = Column(Integer, primary_key=True)
    District = Column(String)
    County = Column(String)
    LocalPersonnel = Column(Float)
    LocalNonPersonnel = Column(Float)
    StatePersonnel = Column(Float)
    StateNonPersonnel = Column(Float)
    FedPersonnel = Column(Float)
    FedNonPersonnel = Column(Float)
    ADM = Column(Float)
    LocalPupil = Column(Float)
    LocalNonPupil = Column(Float)
    StatePupil = Column(Float)
    StateNonPupil = Column(Float)
    FedPupil = Column(Float)
    FedNonPupil = Column(Float)

In [7]:
# Define totalspend table schema with 'AUN' as primary key
class totalsdspend (Base):
    __tablename__ = 'total_sd_spend'
    AUN = Column(Integer, primary_key=True)
    District = Column(String)
    County = Column(String)
    Instruction = Column(Float)
    SupportServices = Column(Float)
    Operations = Column(Float)
    CurrentSpend = Column(Float)
    Facilities = Column(Float)
    OtherSpend = Column(Float)
    TotalSpend = Column(Float)
    AIE = Column(Float)

In [8]:
# Define instructionspend table schema with 'AUN' as primary key
class instructionspend (Base):
    __tablename__ = 'program_spend'
    AUN = Column(Integer, primary_key=True)
    District = Column(String)
    County = Column(String)
    Regular = Column(Float)
    Special = Column(Float)
    Vocational = Column(Float)
    Other = Column(Float)
    NonPublicSchool = Column(Float)
    AdultEd = Column(Float)
    HigherEd = Column(Float)
    PreK = Column(Float)

In [9]:
# Define supportservspend table schema with 'AUN' as primary key
class supportservspend (Base):
    __tablename__ = 'support_serv_spend'
    AUN = Column(Integer, primary_key=True)
    District = Column(String)
    County = Column(String)
    Students = Column(Float)
    InstructionalStaff = Column(Float)
    Administration = Column(Float)
    PupilHealth = Column(Float)
    Business = Column(Float)
    OperationPlant = Column(Float)
    StudentTransport = Column(Float)
    Central = Column(Float)
    Other = Column(Float)

In [10]:
# Define revenue table schema with 'AUN' as primary key
class revenue (Base):
    __tablename__ = 'sd_revenue'
    AUN = Column(Integer, primary_key=True)
    District = Column(String)
    County = Column(String)
    ADM = Column(Integer)
    Total_Revenue = Column(Float)
    Total_Rank = Column(Integer)
    Local_Revenue = Column(Float)
    Local_Rank = Column(Integer)
    State_Revenue = Column(Float)
    State_Rank = Column(Integer)
    Fed_Revenue = Column(Float)
    Fed_Rank = Column(Integer)
    Other_Revenue = Column(Float)
    Other_Rank = Column(Integer)

In [11]:
# Define enrollment table schema with 'AUN' as primary key
class enrollment (Base):
    __tablename__ = 'enrollment'
    AUN = Column(Integer, primary_key=True)
    District = Column(String)
    LEAType = Column(String)
    County = Column(String)
    PKA = Column(Integer)
    PKP = Column(Integer)
    PKF = Column(Integer)
    K4A = Column(Integer)
    K4P = Column(Integer)
    K4F = Column(Integer)
    K5A = Column(Integer)
    K5P = Column(Integer)
    K5F = Column(Integer)
    First = Column(Integer)
    Second = Column(Integer)
    Third = Column(Integer)
    Fourth = Column(Integer)
    Fifth = Column(Integer)
    Sixth = Column(Integer)
    Seventh = Column(Integer)
    Eighth = Column(Integer)
    Ninth = Column(Integer)
    Tenth = Column(Integer)
    Eleventh = Column(Integer)
    Twelfth = Column(Integer)
    HS_Total = Column(Integer)
    SD_Total = Column(Integer)

In [12]:
# Define locale table schema with 'AUN' as primary key
class locale (Base):
    __tablename__ = 'locale'
    District = Column(String)
    AUN = Column(Integer, primary_key=True)
    Locale = Column(String)
    Metro = Column(String)

In [13]:
# Define income table schema with 'AUN' as primary key
class income (Base):
    __tablename__ = 'income'
    Income = Column(Float)
    District = Column(String, primary_key=True)

# Database

In [14]:
# Create Database Connection
engine = create_engine('sqlite:///./pa_school_district.db')
Base.metadata.create_all(engine)

In [15]:
# Create a Session Object to Connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

# Data

## Keystone Scores by School

In [16]:
# Read in excel file
df_key_school = pd.read_excel('2019 Keystone Exams School Level Data_db.xlsx')
#df_key_school.head()

### PA Schools

In [17]:
# Select columns with school information and rename columns
df_pa_schools_all = df_key_school[['AUN', 'School Number', 'County', 
                                   'District Name', 'School Name']]
df_pa_schools = df_pa_schools_all.drop_duplicates()
df_pa_schools = df_pa_schools.rename(columns={'School Number': 'SchoolNumber', 'District Name': 'District',
                                              'School Name': 'School'})
#df_pa_schools

In [18]:
# Load data into database table
df_pa_schools.to_sql('pa_schools', con=engine, if_exists='append', index=False)

750

In [19]:
# Select columns with score data, rename columns, and sort out All Students
df_results = df_key_school[['AUN', 'School Number', 'Subject','Group', 'Number Scored', 'Percent Advanced', 
                         'Percent Proficient', 'Percent Basic', 'Percent Below Basic']]
df_results = df_results.rename(columns={'School Number': 'SchoolNumber', 'Number Scored': 'NumberScored', 'Percent Advanced': 'Advanced',
                                        'Percent Proficient': 'Proficient', 'Percent Basic': 'Basic',
                                       'Percent Below Basic': 'BelowBasic'})
all_students = df_results.loc[df_key_school['Group']=='All Students']
#all_students.head()

### Biology Scores

In [20]:
# Sort out biology scores
bio_all_students = all_students.loc[all_students['Subject']=='Biology']
bio_all_students = bio_all_students[['AUN', 'SchoolNumber', 'NumberScored', 'Advanced', 'Proficient',
                     'Basic', 'BelowBasic']]
#bio_all_students.head()

In [21]:
# Load biology scores into database table
bio_all_students.to_sql('keystone_biology', con=engine, if_exists='append', index=False)

746

### Algebra Scores

In [22]:
# Sort out algebra scores
alg_all_students = all_students.loc[all_students['Subject']=='Algebra I']
alg_all_students = alg_all_students[['AUN', 'SchoolNumber', 'NumberScored', 'Advanced', 'Proficient',
                     'Basic', 'BelowBasic']]
#alg_all_students.head()

In [23]:
# Load algebra scores into database table
alg_all_students.to_sql('keystone_algebra', con=engine, if_exists='append', index=False)

749

### Literature Scores

In [24]:
# Sort out literature scores
lit_all_students = all_students.loc[all_students['Subject']=='Literature']
lit_all_students = lit_all_students[['AUN', 'SchoolNumber', 'NumberScored', 'Advanced', 'Proficient',
                     'Basic', 'BelowBasic']]
#lit_all_students.head()

In [25]:
# Load literature scores into database table
lit_all_students.to_sql('keystone_literature', con=engine, if_exists='append', index=False)

748

## Per Pupil Expenditure

In [26]:
# Read in excel file
df_person_spend = pd.read_excel('2018-2019 Per Pupil Expenditures_db.xlsx')

In [27]:
# Rename columns
df_person_spend = df_person_spend.rename(columns={'LEA Name': 'District', '2018-2019 Local Personnel expenditures': 'LocalPersonnel', '2018-2019 Local NonPersonnel expenditures': 'LocalNonPersonnel',
                                                    '2018-2019 State Personnel expenditures': 'StatePersonnel', '2018-2019 State NonPersonnel expenditures': 'StateNonPersonnel',
                                                    '2018-2019 Federal Personnel expenditures': 'FedPersonnel', '2018-2019 Federal NonPersonnel expenditures': 'FedNonPersonnel', 
                                                    '2018-2019\nADM':'ADM','2018-2019 Local Per Pupil Expenditure':'LocalPupil','2018-2019 Local NonPer Pupil Expenditure':'LocalNonPupil',
                                                      '2018-2019 State Per Pupil Expenditure':'StatePupil','2018-2019 State NonPer Pupil Expenditure':'StateNonPupil',
                                                      '2018-2019 Federal Per Pupil Expenditure':'FedPupil','2018-2019 Federal NonPer Pupil Expenditure':'FedNonPupil'
                                                     })
#df_person_spend.head()

In [28]:
# Load data into database table
df_person_spend.to_sql('person_spend', con=engine, if_exists='append', index=False)

673

## School Expenditures

In [29]:
# Read in excel file
df_finances = pd.read_excel('Finances AFR Expenditures 218-2019_db.xlsx')
#df_finances.head()
#df_finances.columns.tolist()

In [31]:
# Rename columns
df_finances = df_finances.rename(columns={'LEA Name': 'District', 
                                          'Instruction\n1000': 'Instruction', 
                                          'Support Services 2000': 'SupportServices',
                                          'Operation of Noninstructional Services 3000': 'Operations', 
                                          'Current Expenditures': 'CurrentSpend',
                                          'Facilities Acquisition, Construction and Improvement Services 4000': 'Facilities', 
                                          'Other Expenditures and Financing Uses 5000':'OtherSpend',
                                          'Total Expenditures ':'TotalSpend', 
                                          'Actual\nInstruction Expense (AIE)':'AIE', 
                                          'Regular\nPrograms - Elem/Sec\n1100':'Regular', 
                                          'Special\nPrograms - Elem/Sec\n1200':'Special', 
                                          'Vocational Education Programs 1300':'Vocational', 
                                          'Other Instructional Programs - E/S 1400':'Other', 
                                          'Nonpublic School Programs 1500':'NonPublicSchool',
                                          'Adult Education Programs 1600':'AdultEd',
                                          'Higher Education Programs for Secondary Students 1700':'HigherEd',
                                          'Pre-Kindergarten 1800':'PreK',
                                          'Support Services -Students\n2100':'Students',
                                          'Instructional Staff 2200':'InstructionalStaff',
                                          'Administration 2300':'Administration',
                                          'Pupil Health 2400':'PupilHealth',
                                          'Business 2500':'Business',
                                          'Operation & Maintenance of Plant Services 2600':'OperationPlant',
                                          'Student Transportation Services 2700':'StudentTransport',
                                          'Central 2800':'Central',
                                          'Other Support Services 2900':'Other',
                                         })
#df_finances.columns.tolist()

In [33]:
# Select columns for total school district spend
total_sd_spend = df_finances[['AUN', 'District', 'County', 'Instruction', 'SupportServices', 'Operations',
                     'CurrentSpend', 'Facilities', 'OtherSpend', 'TotalSpend', 'AIE']]

In [34]:
# Load data into database table
total_sd_spend.to_sql('total_sd_spend', con=engine, if_exists='append', index=False)

750

In [35]:
# Select columns for program spend
program_spend = df_finances[['AUN', 'District', 'County', 'Regular', 'Special', 'Vocational',
                     'Other', 'NonPublicSchool', 'AdultEd', 'HigherEd', 'PreK']]

In [36]:
# Load data into database table
program_spend.to_sql('program_spend', con=engine, if_exists='append', index=False)

750

In [37]:
# Select columns for support services spend
support_serv_spend = df_finances[['AUN', 'District', 'County', 'Students', 'InstructionalStaff', 'Administration',
                     'PupilHealth', 'Business', 'OperationPlant', 'StudentTransport', 'Central', 'Other']]

In [38]:
# Load data into database table
support_serv_spend.to_sql('support_serv_spend', con=engine, if_exists='append', index=False)

750

## Enrollment

In [39]:
# Read in excel 
df_enrollment = pd.read_excel('Enrollment Public Schools 2018-19_db.xlsx')

In [40]:
# Rename columns
df_enrollment = df_enrollment.rename(columns={'LEA Name': 'District', 'LEA Type': 'LEAType', 
                                          '001':'First', '002':'Second', '003':'Third', '004':'Fourth', '005':'Fifth', 
                                          '006':'Sixth', '007':'Seventh', '008':'Eighth', 
                                          '009':'Ninth', '010':'Tenth', '011':'Eleventh', '012':'Twelfth'})

In [41]:
# Select SD data
df_enrollment_sd = df_enrollment.loc[df_enrollment['LEAType']=='SD']
#df_enrollment_sd.head()
# Load data into database table

In [43]:
# Load data to database table
df_enrollment_sd.to_sql('enrollment', con=engine, if_exists='append', index=False)

499

## Revenues

In [44]:
# Read in excel
df_revenue = pd.read_excel('Finances AFR Revenues 2018-2019_db.xlsx')
#df_revenue.columns.tolist()

In [46]:
# Rename columns
df_revenue_sd = df_revenue.rename(columns={'LEA Name': 'District', '2018-19\nAverage Daily Membership': 'ADM', 
                                        'Total Revenue per ADM':'Total_Revenue', 'Total Rank':'Total_Rank', 'Local Revenue per ADM':'Local_Revenue', 'Total Rank.1':'Local_Rank',
                                        'State Revenue per ADM':'State_Revenue', 'Total Rank.2':'State_Rank', 'Federal Revenue per ADM':'Fed_Revenue', 
                                        'Total Rank.3':'Fed_Rank', 'Other Revenue per ADM':'Other_Revenue', 'Total Rank.4':'Other_Rank'})

In [47]:
# Load data to database table
df_revenue_sd.to_sql('sd_revenue', con=engine, if_exists='append', index=False)

500

## District Household Income

In [48]:
# Read in excel file
df_income = pd.read_excel('2019_pit_stats_sd_income_range 2_db.xlsx')
#df_income.columns.tolist()

['Average Income', 'School District ']

In [49]:
# Rename columns
df_income = df_income.rename(columns={'Average Income': 'Income', 'School District ': 'District'})
#df_income.columns.tolist()

['Income', 'District']

In [50]:
# Load data into database table
df_income.to_sql('income', con=engine, if_exists='append', index=False)

500

## District Locale

In [51]:
# Read in excel
df_locale = pd.read_excel('Urban Centric and Metro Centric Locale Codes_db.xlsx')
#df_locale.columns.tolist()

['LEA NAME',
 'AUN',
 'NCES ID',
 'County Name',
 'County Number',
 'Urban-centric Locale [District] ',
 'Metro Micro Area Code']

In [52]:
# Rename columns
df_locale = df_locale.rename(columns={'LEA NAME': 'District', 'Urban-centric Locale [District] ': 'Locale', 
                                      'Metro Micro Area Code':'Metro'})
#df_locale.columns.tolist()

['District',
 'AUN',
 'NCES ID',
 'County Name',
 'County Number',
 'Locale',
 'Metro']

In [53]:
# Select columns
sd_locale = df_locale[['District', 'AUN', 'Locale','Metro']]
#sd_locale.columns.tolist()

['District', 'AUN', 'Locale', 'Metro']

In [54]:
# Load data into database table
sd_locale.to_sql('locale', con=engine, if_exists='append', index=False)

788