In [1]:
# Import the dependencies.
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import pandas as pd

from sqlalchemy.ext.declarative import declarative_base

# Create a base class for declarating class definitions to produce Table objects
Base = declarative_base()

In [2]:
# Define new table schema with 'SchoolNumber' as primary key
class schools (Base):
    __tablename__ = 'pa_schools'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    County = Column(String)
    DistrictName = Column(String)
    SchoolName = Column(String);

In [3]:
class biology (Base):
    __tablename__ = 'keystone_biology'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    NumberScored = Column(Integer)
    PercentAdvanced = Column(Float)
    PercentProficient = Column(Float)
    PercentBasic = Column(Float)
    PercentBelowBasic = Column(Float)

In [4]:
class algebra (Base):
    __tablename__ = 'keystone_algebra'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    NumberScored = Column(Integer)
    PercentAdvanced = Column(Float)
    PercentProficient = Column(Float)
    PercentBasic = Column(Float)
    PercentBelowBasic = Column(Float)

In [5]:
class literature (Base):
    __tablename__ = 'keystone_literature'
    AUN = Column(Integer)
    SchoolNumber = Column(Integer, primary_key=True)
    NumberScored = Column(Integer)
    PercentAdvanced = Column(Float)
    PercentProficient = Column(Float)
    PercentBasic = Column(Float)
    PercentBelowBasic = Column(Float)

In [6]:
class personspend (Base):
    __tablename__ = 'person_spend'
    AUN = Column(Integer, primary_key=True)
    LEAname = Column(String)
    County = Column(String)
    LocalPersonnelSpend = Column(Float)
    LocalNonPersonnelSpend = Column(Float)
    StatePersonnelSpend = Column(Float)
    StateNonPersonnelSpend = Column(Float)
    FedPersonnelSpend = Column(Float)
    FedNonPersonnelSpend = Column(Float)
    ADM = Column(Float)
    LocalPupilSpend = Column(Float)
    LocalNonPupilSpend = Column(Float)
    StatePupilSpend = Column(Float)
    StateNonPupilSpend = Column(Float)
    FedPupilSpend = Column(Float)
    FedNonPupilSpend = Column(Float)

In [7]:
# Create Database Connection
engine = create_engine('sqlite:///./pa_school_district.db')
Base.metadata.create_all(engine)

In [8]:
# Create a Session Object to Connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [9]:
df_key_school = pd.read_excel('2019 Keystone Exams School Level Data_db.xlsx')
df_key_school.head()

,Grade,AUN,School Number,County,District Name,School Name,Subject,Group,Number Scored,Percent Advanced,Percent Proficient,Percent Basic,Percent Below Basic
0,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Algebra I,All Students,139,27.3,45.3,21.6,5.8
1,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Algebra I,Historically Underperforming,47,14.9,29.8,38.3,17.0
2,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Biology,All Students,139,25.9,38.1,23.7,12.2
3,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Biology,Historically Underperforming,48,14.6,25.0,33.3,27.1
4,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Literature,All Students,139,7.2,71.2,16.5,5.0

In [10]:
df_pa_schools_all = df_key_school[['AUN', 'School Number', 'County', 
                                   'District Name', 'School Name']]
df_pa_schools = df_pa_schools_all.drop_duplicates()
df_pa_schools = df_pa_schools.rename(columns={'School Number': 'SchoolNumber', 'District Name': 'DistrictName',
                                              'School Name': 'SchoolName'})
#df_pa_schools

In [11]:
df_pa_schools.to_sql('pa_schools', con=engine, if_exists='append', index=False)

750

In [12]:
df_results = df_key_school[['AUN', 'School Number', 'Subject','Group', 'Number Scored', 'Percent Advanced', 
                         'Percent Proficient', 'Percent Basic', 'Percent Below Basic']]
df_results = df_results.rename(columns={'School Number': 'SchoolNumber', 'Number Scored': 'NumberScored', 'Percent Advanced': 'PercentAdvanced',
                                        'Percent Proficient': 'PercentProficient', 'Percent Basic': 'PercentBasic',
                                       'Percent Below Basic': 'PercentBelowBasic'})
all_students = df_results.loc[df_key_school['Group']=='All Students']
#all_students.head()

In [13]:
bio_all_students = all_students.loc[all_students['Subject']=='Biology']
bio_all_students = bio_all_students[['AUN', 'SchoolNumber', 'NumberScored', 'PercentAdvanced', 'PercentProficient',
                     'PercentBasic', 'PercentBelowBasic']]
#bio_all_students.head()

In [14]:
bio_all_students.to_sql('keystone_biology', con=engine, if_exists='append', index=False)

746

In [15]:
alg_all_students = all_students.loc[all_students['Subject']=='Algebra I']
alg_all_students = alg_all_students[['AUN', 'SchoolNumber', 'NumberScored', 'PercentAdvanced', 'PercentProficient',
                     'PercentBasic', 'PercentBelowBasic']]
alg_all_students.head()

,AUN,SchoolNumber,NumberScored,PercentAdvanced,PercentProficient,PercentBasic,PercentBelowBasic
0,112011103,3,139,27.3,45.3,21.6,5.8
6,112011603,17,270,28.5,43.7,23.3,4.4
12,112013054,6269,76,18.4,53.9,26.3,1.3
18,112013753,6271,197,41.1,33.5,18.8,6.6
24,112015203,14,144,29.2,51.4,16.7,2.8

In [16]:
alg_all_students.to_sql('keystone_algebra', con=engine, if_exists='append', index=False)

749

In [17]:
lit_all_students = all_students.loc[all_students['Subject']=='Literature']
lit_all_students = lit_all_students[['AUN', 'SchoolNumber', 'NumberScored', 'PercentAdvanced', 'PercentProficient',
                     'PercentBasic', 'PercentBelowBasic']]
#lit_all_students.head()

In [18]:
lit_all_students.to_sql('keystone_literature', con=engine, if_exists='append', index=False)

748

In [19]:
df_person_spend = pd.read_excel('2018-2019 Per Pupil Expenditures_db.xlsx')

In [20]:
df_person_spend = df_person_spend.rename(columns={'LEA Name': 'LEAName', '2018-2019 Local Personnel expenditures': 'LocalPersonnelSpend', '2018-2019 Local NonPersonnel expenditures': 'LocalNonPersonnelSpend',
                                                    '2018-2019 State Personnel expenditures': 'StatePersonnelSpend', '2018-2019 State NonPersonnel expenditures': 'StateNonPersonnelSpend',
                                                    '2018-2019 Federal Personnel expenditures': 'FedPersonnelSpend', '2018-2019 Federal NonPersonnel expenditures': 'FedNonPersonnelSpend', 
                                                    '2018-2019\nADM':'ADM','2018-2019 Local Per Pupil Expenditure':'LocalPupilSpend','2018-2019 Local NonPer Pupil Expenditure':'LocalNonPupilSpend',
                                                      '2018-2019 State Per Pupil Expenditure':'StatePupilSpend','2018-2019 State NonPer Pupil Expenditure':'StateNonPupilSpend',
                                                      '2018-2019 Federal Per Pupil Expenditure':'FedPupilSpend','2018-2019 Federal NonPer Pupil Expenditure':'FedNonPupilSpend'
                                                     })
#df_person_spend.head()

In [21]:
df_person_spend.to_sql('person_spend', con=engine, if_exists='append', index=False)

673