In [ ]:
# Import the dependencies.
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import pandas as pd

from sqlalchemy.ext.declarative import declarative_base
# Create a base class for declarating class definitions to produce Table objects
Base = declarative_base()

In [ ]:
class PAsdData(Base):
    __table_name__ = "keystone_state3"
    subject = Column(String, primary_key=True)
    students = Column(String)
    grade = Column(Integer)
    number_scored = Column(Integer)
    percent_below_basic = Column(Float)
    percent_basic = Column(Float)
    percent_proficient = Column(Float)
    percent_advanced = Column(Float)
    percent_advanced_proficient = Column(Float)

In [ ]:
# Create Database Connection
engine = create_engine('sqlite:///./pa_school_district.db')
Base.metadata.create_all(engine)

In [ ]:
# Create a Session Object to Connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
import pandas as pd
df = pd.read_excel('2019 Keystone Exams State Level Data_db.xlsx')
print(df.head())

In [ ]:
df.dtypes

In [ ]:
df.to_sql('keystone_state2', con=engine, if_exists='append', index=False)

In [ ]:
df.to_sql('keystone_state3', con=engine, if_exists='append', index=False)

In [ ]:
with engine.connect() as con:
    con.execute("ALTER TABLE `keystone_state2` ADD PRIMARY KEY (`Subject`);")

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String
# Create an SQLite database engine (replace 'your_database.db' with your database name)
engine = create_engine('sqlite:///pa_school_district.db')
# Connect to the database
with engine.connect() as conn:
    # Step 1: Create a new table with a primary key
    metadata = MetaData()
    new_table = Table(
        'new_table', metadata,
        Column('Subject', String, primary_key=True),
        Column('Group', String),
        Column('Grade', Integer),
        Column('Number Scored', Integer),
        Column('% Below Basic', Float),
        Column('% Basic', Float),
        Column('% Proficient', Float),
        Column('% Advanced', Float),
        Column('% Advanced/Proficient', Float)
    )
    new_table.create(engine)
    # Step 2: Copy data from the existing table to the new table
    conn.execute('INSERT INTO new_table SELECT * FROM keystone_state2')
    # Step 3: Drop the existing table
    conn.execute('DROP TABLE keystone_state2')
    # Step 4: Rename the new table to the original name
    conn.execute('ALTER TABLE new_table RENAME TO keystone_state2')

In [ ]:
from sqlalchemy import create_engine, Column, Integer, Float, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
# Initialize SQLAlchemy Base and engine
Base = declarative_base()
engine = create_engine('sqlite:///pa_school_district.db')
# Define new table schema with 'subject' as primary key
class NewPAsdData(Base):
    __tablename__ = 'keystone_state'
    subject = Column(String, primary_key=True)
    students = Column(String)
    grade = Column(Integer)
    number_scored = Column(Integer)
    percent_below_basic = Column(Float)
    percent_basic = Column(Float)
    percent_proficient = Column(Float)
    percent_advanced = Column(Float)
    percent_advanced_proficient = Column(Float)
# Drop the old table (optional)
# Base.metadata.tables['keystone_state'].drop(engine, checkfirst=True)
# Create the new table
Base.metadata.create_all(engine)
# Create a new session
Session = sessionmaker(bind=engine)
session = Session()
# Insert existing data into the new table
existing_data = [
    {'subject': 'Algebra I', 'students': 'All Students', 'grade': 11, 'number_scored': 119742, 'percent_below_basic': 10.5, 'percent_basic': 26.2, 'percent_proficient': 38.7, 'percent_advanced': 24.6, 'percent_advanced_proficient': 63.3},
    {'subject': 'Biology', 'students': 'All Students', 'grade': 11, 'number_scored': 118506, 'percent_below_basic': 16.3, 'percent_basic': 20.5, 'percent_proficient': 36.8, 'percent_advanced': 26.4, 'percent_advanced_proficient': 63.2},
    {'subject': 'Literature', 'students': 'All Students', 'grade': 11, 'number_scored': 118885, 'percent_below_basic': 9.6, 'percent_basic': 18.9, 'percent_proficient': 58.4, 'percent_advanced': 13.1, 'percent_advanced_proficient': 71.5}
]
for row in existing_data:
    entry = NewPAsdData(**row)
    session.add(entry)
# Commit the transaction
session.commit()

In [ ]:
print(new_keystone_state)