In [1]:
## Import Dependencies
import sqlalchemy as sa
from sqlalchemy import create_engine, text, Column, Integer, String, Float
import pandas as pd
import openpyxl
import sqlite3
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
class keystone_school(Base):
    __tablename__ = 'keystone_school'
    grade = Column(Integer)
    aun = Column(Integer, primary_key=True)
    school_number = Column(Integer)
    county = Column(String) 
    school_district = Column(String)
    school_name = Column(String) 
    subject = Column(String) 
    group = Column(String)
    number_scored = Column(String)
    percent_advanced = Column(Float) 
    percent_proficient = Column(Float)
    percent_basic = Column(Float) 
    percent_below_basic = Column(Float)

In [3]:
Base.metadata.tables

FacadeDict({'keystone_school': Table('keystone_school', MetaData(), Column('grade', Integer(), table=<keystone_school>), Column('aun', Integer(), table=<keystone_school>, primary_key=True, nullable=False), Column('school_number', Integer(), table=<keystone_school>), Column('county', String(), table=<keystone_school>), Column('school_district', String(), table=<keystone_school>), Column('school_name', String(), table=<keystone_school>), Column('subject', String(), table=<keystone_school>), Column('group', String(), table=<keystone_school>), Column('number_scored', String(), table=<keystone_school>), Column('percent_advanced', Float(), table=<keystone_school>), Column('percent_proficient', Float(), table=<keystone_school>), Column('percent_basic', Float(), table=<keystone_school>), Column('percent_below_basic', Float(), table=<keystone_school>), schema=None)})

In [4]:
## Create connection to SQLite database
engine = create_engine("sqlite:///pa_school_district.sqlite3")

In [5]:
Base.metadata.create_all(engine)

In [6]:
## Commit changes to db
engine.execute(text('select * from keystone_school')).fetchall()

[]

In [8]:
# Open the Excel file
#wb = openpyxl.load_workbook("Resources/2019 Keystone Exams School Level Data.xlsx")
# Get the active worksheet
#ws = wb.active
# Iterate over the rows in the worksheet
#for row in ws.rows:

    # Get the values of the cells in the row
    #values = []
    #for cell in row:
        #values.append(cell.value)
    # Insert the values into the database
    #engine.execute("INSERT INTO keystone_school", values)
    
con = sqlite3.connect('pa_school_district.sqlite3')
wb = pd.read_excel("Resources/2019 Keystone Exams School Level Data.xlsx",sheet_name = None)

for sheet in wb:
    wb[sheet].to_sql(sheet,con,index=False)
con.commit()
#con.close()

ValueError: Table 'Sheet1' already exists.

In [9]:
engine.execute(text('select * from keystone_school')).fetchall()

[]