## Data cleaning for slope chart

### Sources:
|  * https://patch.com/pennsylvania/across-pa/these-are-best-school-districts-pa-new-ranking-says
|  * 2018-2019 Keystone Results file
|  * 2018-2019 Per Pupil Expenditure file

In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
# Visit the Patch "Top 25 Districts" article
url = "https://patch.com/pennsylvania/across-pa/these-are-best-school-districts-pa-new-ranking-says"
browser.visit(url)

In [4]:
# Parse the website
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Create a variable for the main area of the list
schools_list=soup.find("ol").find_all("li")
print(schools_list)

# Create an empty variable to creaete a list of individual schools
top_pa_schools=[]

[<li><a href="https://www.niche.com/k12/d/radnor-township-school-district-pa/" rel="nofollow" target="_blank">Radnor Township School District</a>, Wayne: A+</li>, <li><a href="https://www.niche.com/k12/d/tredyffrin-easttown-school-district-pa/" rel="nofollow" target="_blank">Tredyffrin-Easttown School District</a>, Wayne: A+</li>, <li><a href="https://www.niche.com/k12/d/north-allegheny-school-district-pa/" rel="nofollow" target="_blank">North Allegheny School District</a>, Pittsburgh: A+</li>, <li><a href="https://www.niche.com/k12/d/lower-merion-school-district-pa/" rel="nofollow" target="_blank">Lower Merion School District</a>, Ardmore: A+</li>, <li><a href="https://www.niche.com/k12/d/mt-lebanon-school-district-pa/" rel="nofollow" target="_blank">Mt. Lebanon School District</a>, Pittsburgh: A+</li>, <li><a href="https://www.niche.com/k12/d/upper-st-clair-school-district-pa/" rel="nofollow" target="_blank">Upper St. Clair School District</a>, Pittsburgh: A+</li>, <li><a href="https://www.niche.com/k12/d/fox-chapel-area-school-district-pa/" rel="nofollow" target="_blank">Fox Chapel Area School District</a>, Pittsburgh: A+</li>, <li><a href="https://www.niche.com/k12/d/south-fayette-township-school-district-pa/" rel="nofollow" target="_blank">South Fayette Township School District</a>, McDonald: A+</li>, <li><a href="https://www.niche.com/k12/d/derry-township-school-district-pa/" rel="nofollow" target="_blank">Derry Township School District</a>, Hershey: A+ </li>, <li><a href="https://www.niche.com/k12/d/state-college-area-school-district-pa/" rel="nofollow" target="_blank">State College Area School District</a>, State College: A+</li>, <li><a href="https://www.niche.com/k12/d/colonial-school-district-pa/" rel="nofollow" target="_blank">Colonial School District,</a> Plymouth Meeting: A+</li>, <li><a href="https://www.niche.com/k12/d/wallingford-swarthmore-school-district-pa/" rel="nofollow" target="_blank">Wallingford-Swarthmore School District</a>, Wallingford: A+</li>, <li><a href="https://www.niche.com/k12/d/unionville-chadds-ford-school-district-pa/" rel="nofollow" target="_blank">Unionville-Chadds Ford School District,</a> Kennett Square: A+</li>, <li><a href="https://www.niche.com/k12/d/spring-ford-area-school-district-pa/" rel="nofollow" target="_blank">Spring-Ford Area School District</a>, Royersford: A+</li>, <li><a href="https://www.niche.com/k12/d/wissahickon-school-district-pa/" rel="nofollow" target="_blank">Wissahickon School District</a>, Ambler: A+ </li>, <li><a href="https://www.niche.com/k12/d/garnet-valley-school-district-pa/" rel="nofollow" target="_blank">Garnet Valley School District</a>, Glen Mills: A+</li>, <li><a href="https://www.niche.com/k12/d/hampton-township-school-district-pa/" rel="nofollow" target="_blank">Hampton Township School District</a>, Allison Park: A+</li>, <li><a href="https://www.niche.com/k12/d/springfield-school-district-pa/" rel="nofollow" target="_blank">Springfield School District</a>, Springfield: A+</li>, <li><a href="https://www.niche.com/k12/d/peters-township-school-district-pa/" rel="nofollow" target="_blank">Peters Township School District</a>, McMurray: A+</li>, <li><a href="https://www.niche.com/k12/d/west-chester-area-school-district-pa/" rel="nofollow" target="_blank">West Chester Area School District,</a> Exton: A+</li>, <li><a href="https://www.niche.com/k12/d/downingtown-area-school-district-pa/" rel="nofollow" target="_blank">Downington Area School District</a>, Downington: A</li>, <li><a href="https://www.niche.com/k12/d/school-district-of-upper-dublin-pa/" rel="nofollow" target="_blank">School District of Upper Dublin</a>, Maple Glen: A</li>, <li><a href="https://www.niche.com/k12/d/central-bucks-school-district-pa/" rel="nofollow" target="_blank">Central Bucks School District</a>, Doylestown: A</li>, <li><a href="https://www.niche.com/k12/d/new-hope-solebury-school-district-pa/" rel="nofollow" target="_blank">New Hope-Solebury School District</a>, New Hope: A</li>, <li><a href="https://www.niche.com/k12/d/quaker-valley-school-district-pa/" rel="nofollow" target="_blank">Quaker Valley School District</a>, Leetsdale: A </li>]

In [11]:
# Import Excel files for per pupil expenditures
xls=pd.ExcelFile("Resources/Full 2018-2019 Per Pupil Expenditures.xlsx")

# Create data frame (this df includes charter schools)
ppe_2019_df=pd.read_excel(xls, sheet_name='ESSA Exp per ADM LEA 2018-19')
ppe_2019_df

,AUN,LEA Name,County,2018-2019 Local Personnel expenditures,2018-2019 Local NonPersonnel expenditures,2018-2019 State Personnel expenditures,2018-2019 State NonPersonnel expenditures,2018-2019 Federal Personnel expenditures,2018-2019 Federal NonPersonnel expenditures,2018-2019\nADM,2018-2019 Local Per Pupil Expenditure,2018-2019 Local NonPer Pupil Expenditure,2018-2019 State Per Pupil Expenditure,2018-2019 State NonPer Pupil Expenditure,2018-2019 Federal Per Pupil Expenditure,2018-2019 Federal NonPer Pupil Expenditure
0,101260303,Albert Gallatin Area SD,Fayette,9019178.90,1875359.59,24385187.40,5070416.69,1652730.61,259155.65,3197.265,2820.90,586.55,7626.89,1585.86,516.92,81.06
1,101260803,Brownsville Area SD,Fayette,2935542.00,480648.00,7677570.00,1257079.00,677433.00,110918.00,1521.309,1929.62,315.94,5046.69,826.31,445.30,72.91
2,101261302,Connellsville Area SD,Fayette,12683500.82,5306622.67,31679118.11,13254095.21,1858869.96,777728.62,3954.586,3207.29,1341.89,8010.73,3351.58,470.05,196.66
3,101262903,Frazier SD,Fayette,4459973.09,1759801.70,7194693.97,2838858.99,235423.80,92892.76,1065.209,4186.95,1652.07,6754.26,2665.07,221.01,87.21
4,101264003,Laurel Highlands SD,Fayette,15197925.00,19714162.00,30380386.00,3830566.49,869577.00,880731.00,2720.162,5587.14,7247.42,11168.59,1408.21,319.68,323.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,188392660,Seven Generations CS,Lehigh,2922628.76,1398036.47,0.00,0.00,172405.59,19573.00,309.594,9440.20,4515.71,0.00,0.00,556.88,63.22
669,189670676,York Academy Regional CS,York,6710046.25,3741339.43,18801.01,158.99,263646.02,418750.52,784.550,8552.73,4768.77,23.96,0.20,336.05,533.75
670,192518422,Tacony Academy CS,Philadelphia,7094.00,5501.00,126.00,98.00,713.00,553.00,384.339,18.46,14.31,0.33,0.25,1.86,1.44
671,197010542,Gettysburg Montessori CS,Adams,1610346.00,1027735.00,0.00,10026.00,30854.00,67076.00,218.794,7360.10,4697.27,0.00,45.82,141.02,306.57
672,199025446,Environmental CS at Frick Park,Allegheny,7660590.00,2328945.00,22970.00,30784.00,331192.00,128486.00,666.182,11499.24,3495.96,34.48,46.21,497.15,192.87

In [12]:
# Add column for total per pupil expenditures
ppe_2019_df["Total Per Pupil Expenditure 2018-19"]= \
    ppe_2019_df["2018-2019 Local Per Pupil Expenditure"] + \
    ppe_2019_df["2018-2019 Local NonPer Pupil Expenditure"] + \
    ppe_2019_df["2018-2019 State Per Pupil Expenditure"] + \
    ppe_2019_df["2018-2019 State NonPer Pupil Expenditure"] + \
    ppe_2019_df["2018-2019 Federal Per Pupil Expenditure"] + \
    ppe_2019_df["2018-2019 Federal NonPer Pupil Expenditure"]
ppe_2019_df

,AUN,LEA Name,County,2018-2019 Local Personnel expenditures,2018-2019 Local NonPersonnel expenditures,2018-2019 State Personnel expenditures,2018-2019 State NonPersonnel expenditures,2018-2019 Federal Personnel expenditures,2018-2019 Federal NonPersonnel expenditures,2018-2019\nADM,2018-2019 Local Per Pupil Expenditure,2018-2019 Local NonPer Pupil Expenditure,2018-2019 State Per Pupil Expenditure,2018-2019 State NonPer Pupil Expenditure,2018-2019 Federal Per Pupil Expenditure,2018-2019 Federal NonPer Pupil Expenditure,Total Per Pupil Expenditure 2018-19
0,101260303,Albert Gallatin Area SD,Fayette,9019178.90,1875359.59,24385187.40,5070416.69,1652730.61,259155.65,3197.265,2820.90,586.55,7626.89,1585.86,516.92,81.06,13218.18
1,101260803,Brownsville Area SD,Fayette,2935542.00,480648.00,7677570.00,1257079.00,677433.00,110918.00,1521.309,1929.62,315.94,5046.69,826.31,445.30,72.91,8636.77
2,101261302,Connellsville Area SD,Fayette,12683500.82,5306622.67,31679118.11,13254095.21,1858869.96,777728.62,3954.586,3207.29,1341.89,8010.73,3351.58,470.05,196.66,16578.20
3,101262903,Frazier SD,Fayette,4459973.09,1759801.70,7194693.97,2838858.99,235423.80,92892.76,1065.209,4186.95,1652.07,6754.26,2665.07,221.01,87.21,15566.57
4,101264003,Laurel Highlands SD,Fayette,15197925.00,19714162.00,30380386.00,3830566.49,869577.00,880731.00,2720.162,5587.14,7247.42,11168.59,1408.21,319.68,323.78,26054.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,188392660,Seven Generations CS,Lehigh,2922628.76,1398036.47,0.00,0.00,172405.59,19573.00,309.594,9440.20,4515.71,0.00,0.00,556.88,63.22,14576.01
669,189670676,York Academy Regional CS,York,6710046.25,3741339.43,18801.01,158.99,263646.02,418750.52,784.550,8552.73,4768.77,23.96,0.20,336.05,533.75,14215.46
670,192518422,Tacony Academy CS,Philadelphia,7094.00,5501.00,126.00,98.00,713.00,553.00,384.339,18.46,14.31,0.33,0.25,1.86,1.44,36.65
671,197010542,Gettysburg Montessori CS,Adams,1610346.00,1027735.00,0.00,10026.00,30854.00,67076.00,218.794,7360.10,4697.27,0.00,45.82,141.02,306.57,12550.78
672,199025446,Environmental CS at Frick Park,Allegheny,7660590.00,2328945.00,22970.00,30784.00,331192.00,128486.00,666.182,11499.24,3495.96,34.48,46.21,497.15,192.87,15765.91

In [14]:
# Import Excel file for scores
scores_df=pd.read_excel("Resources/2019 Keystone Exams School Level Data.xlsx")
scores_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2019 Keystone Exams Grade 11 - School Level Proficiency Results*,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,* Proficiency summary data do not include stud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,* Information is not displayed for student pop...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Grade,AUN,School Number,County,District Name,School Name,Subject,Group,Number Scored,Percent Advanced,Percent Proficient,Percent Basic,Percent Below Basic
4,11,112011103,000000003,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Algebra I,All Students,139,27.3,45.3,21.6,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4485,11,112679403,000004658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Algebra I,Historically Underperforming,68,25,45.6,22.1,7.4
4486,11,112679403,000004658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Biology,All Students,220,53.2,36.4,8.2,2.3
4487,11,112679403,000004658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Biology,Historically Underperforming,69,24.6,47.8,20.3,7.2
4488,11,112679403,000004658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Literature,All Students,222,39.2,51.4,8.1,1.4
4489,11,112679403,000004658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Literature,Historically Underperforming,69,11.6,63.8,20.3,4.3

In [ ]:
# Quit the browsing session
browser.quit()